In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder
import pandas as pd
import tensorflow as tf

#Since I'm using Colab, I've set it up to import the charity_data file by selecting it from your computer
from google.colab import files
uploaded = files.upload()

Saving charity_data.csv to charity_data.csv

In [5]:
import io
application_df = pd.read_csv(io.BytesIO(uploaded['charity_data.csv']))
application_df.head()

        EIN                                      NAME  ... ASK_AMT IS_SUCCESSFUL
0  10520599              BLUE KNIGHTS MOTORCYCLE CLUB  ...    5000             1
1  10531628    AMERICAN CHESAPEAKE CLUB CHARITABLE TR  ...  108590             1
2  10547893        ST CLOUD PROFESSIONAL FIREFIGHTERS  ...    5000             0
3  10553066            SOUTHSIDE ATHLETIC ASSOCIATION  ...    6692             1
4  10556103  GENETIC RESEARCH INSTITUTE OF THE DESERT  ...  142590             1

[5 rows x 12 columns]

In [6]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(['EIN', 'NAME'], axis=1)
application_df.head()

  APPLICATION_TYPE       AFFILIATION  ... ASK_AMT IS_SUCCESSFUL
0              T10       Independent  ...    5000             1
1               T3       Independent  ...  108590             1
2               T5  CompanySponsored  ...    5000             0
3               T3  CompanySponsored  ...    6692             1
4               T3       Independent  ...  142590             1

[5 rows x 10 columns]

In [7]:
# Determine the number of unique values in each column.
application_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [8]:
# Look at APPLICATION_TYPE value counts for binning
application_type = application_df.APPLICATION_TYPE.value_counts()

In [9]:
# Determine which values to replace if counts are less than 10,000
replace_application = list(application_type[application_type < 500].index)

# Replace in dataframe
for app in replace_application:
    application_df.APPLICATION_TYPE = application_df.APPLICATION_TYPE.replace(app,"Other")
    
# Check to make sure binning was successful
application_df.APPLICATION_TYPE.value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [10]:
# Look at CLASSIFICATION value counts for binning
classification = application_df.CLASSIFICATION.value_counts()

In [11]:
# Determine which values to replace if counts are less than 4,500
replace_class = list(classification[classification < 4500].index)

# Replace in dataframe
for cls in replace_class:
    application_df.CLASSIFICATION = application_df.CLASSIFICATION.replace(cls,"Other")
    
# Check to make sure binning was successful
application_df.CLASSIFICATION.value_counts()

C1000    17326
C2000     6074
Other     6062
C1200     4837
Name: CLASSIFICATION, dtype: int64

In [12]:
# For optiization attempt #3, dropping columns
application_df = application_df.drop(['STATUS', 'SPECIAL_CONSIDERATIONS'], 1)

In [13]:
# Generate our categorical variable lists
application_cat = application_df.dtypes[application_df.dtypes == "object"].index.tolist()
application_cat

['APPLICATION_TYPE',
 'AFFILIATION',
 'CLASSIFICATION',
 'USE_CASE',
 'ORGANIZATION',
 'INCOME_AMT']

In [14]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

# Fit and transform the OneHotEncoder using the categorical variable list
encode_df = pd.DataFrame(enc.fit_transform(application_df[application_cat]))

# Add the encoded variable names to the dataframe
encode_df.columns = enc.get_feature_names(application_cat)
encode_df.head()

/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

   APPLICATION_TYPE_Other  ...  INCOME_AMT_5M-10M
0                     0.0  ...                0.0
1                     0.0  ...                0.0
2                     0.0  ...                0.0
3                     0.0  ...                0.0
4                     0.0  ...                0.0

[5 rows x 37 columns]

In [15]:
# Merge one-hot encoded features and drop the originals
application_df = application_df.merge(encode_df,left_index=True, right_index=True)
application_df = application_df.drop(application_cat,1)
application_df.head()

   ASK_AMT  IS_SUCCESSFUL  ...  INCOME_AMT_50M+  INCOME_AMT_5M-10M
0     5000              1  ...              0.0                0.0
1   108590              1  ...              0.0                0.0
2     5000              0  ...              0.0                0.0
3     6692              1  ...              0.0                0.0
4   142590              1  ...              0.0                0.0

[5 rows x 39 columns]

In [16]:
# Split our preprocessed data into our features and target arrays
y = application_df.IS_SUCCESSFUL
X = application_df.drop('IS_SUCCESSFUL', 1)

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1, stratify=y)

In [17]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

Optimization Attempt #1: Attempted adding and subtracting nodes within 2 and 3 hidden layers, as well as adding and subtracting epochs. Minimal change observed.

In [ ]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train_scaled[0])
hidden_nodes_layer1 = 12
hidden_nodes_layer2 = 8
hidden_nodes_layer3 = 5

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu")
)

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

# Third hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer3, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential_7"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_22 (Dense)            (None, 12)                420

 dense_23 (Dense)            (None, 8)                 104

 dense_24 (Dense)            (None, 5)                 45

 dense_25 (Dense)            (None, 1)                 6

=================================================================
Total params: 575
Trainable params: 575
Non-trainable params: 0
_________________________________________________________________

In [ ]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [ ]:
# Train the model
fit_model = nn.fit(X_train_scaled,y_train,epochs=30)

Epoch 1/30
804/804 [==============================] - 1s 1ms/step - loss: 0.6489 - accuracy: 0.6644
Epoch 2/30
804/804 [==============================] - 1s 1ms/step - loss: 0.5943 - accuracy: 0.6985
Epoch 3/30
804/804 [==============================] - 1s 1ms/step - loss: 0.5870 - accuracy: 0.7005
Epoch 4/30
804/804 [==============================] - 1s 1ms/step - loss: 0.5835 - accuracy: 0.7056
Epoch 5/30
804/804 [==============================] - 1s 1ms/step - loss: 0.5819 - accuracy: 0.7063
Epoch 6/30
804/804 [==============================] - 1s 1ms/step - loss: 0.5810 - accuracy: 0.7073
Epoch 7/30
804/804 [==============================] - 1s 1ms/step - loss: 0.5807 - accuracy: 0.7076
Epoch 8/30
804/804 [==============================] - 1s 1ms/step - loss: 0.5802 - accuracy: 0.7079
Epoch 9/30
804/804 [==============================] - 1s 1ms/step - loss: 0.5799 - accuracy: 0.7090
Epoch 10/30
804/804 [==============================] - 1s 1ms/step - loss: 0.5798 - accuracy: 0.7082
Epoch 11/30
804/804 [==============================] - 1s 1ms/step - loss: 0.5797 - accuracy: 0.7083
Epoch 12/30
804/804 [==============================] - 1s 1ms/step - loss: 0.5793 - accuracy: 0.7090
Epoch 13/30
804/804 [==============================] - 1s 1ms/step - loss: 0.5793 - accuracy: 0.7090
Epoch 14/30
804/804 [==============================] - 1s 1ms/step - loss: 0.5794 - accuracy: 0.7089
Epoch 15/30
804/804 [==============================] - 1s 1ms/step - loss: 0.5792 - accuracy: 0.7081
Epoch 16/30
804/804 [==============================] - 1s 1ms/step - loss: 0.5789 - accuracy: 0.7081
Epoch 17/30
804/804 [==============================] - 1s 1ms/step - loss: 0.5786 - accuracy: 0.7085
Epoch 18/30
804/804 [==============================] - 1s 1ms/step - loss: 0.5786 - accuracy: 0.7089
Epoch 19/30
804/804 [==============================] - 1s 1ms/step - loss: 0.5787 - accuracy: 0.7096
Epoch 20/30
804/804 [==============================] - 1s 1ms/step - loss: 0.5782 - accuracy: 0.7098
Epoch 21/30
804/804 [==============================] - 1s 1ms/step - loss: 0.5787 - accuracy: 0.7091
Epoch 22/30
804/804 [==============================] - 1s 1ms/step - loss: 0.5784 - accuracy: 0.7090
Epoch 23/30
804/804 [==============================] - 1s 1ms/step - loss: 0.5782 - accuracy: 0.7102
Epoch 24/30
804/804 [==============================] - 1s 1ms/step - loss: 0.5782 - accuracy: 0.7092
Epoch 25/30
804/804 [==============================] - 1s 1ms/step - loss: 0.5782 - accuracy: 0.7100
Epoch 26/30
804/804 [==============================] - 1s 1ms/step - loss: 0.5781 - accuracy: 0.7100
Epoch 27/30
804/804 [==============================] - 1s 1ms/step - loss: 0.5778 - accuracy: 0.7110
Epoch 28/30
804/804 [==============================] - 1s 1ms/step - loss: 0.5778 - accuracy: 0.7113
Epoch 29/30
804/804 [==============================] - 1s 1ms/step - loss: 0.5775 - accuracy: 0.7104
Epoch 30/30
804/804 [==============================] - 1s 1ms/step - loss: 0.5777 - accuracy: 0.7104

In [ ]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5838 - accuracy: 0.7108 - 274ms/epoch - 1ms/step
Loss: 0.5838459730148315, Accuracy: 0.7107871770858765

Optimization Attempt #2: Used various activations for the hidden layers and output. Minimal change observed.

In [ ]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train_scaled[0])
hidden_nodes_layer1 = 16
hidden_nodes_layer2 = 8

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="tanh")
)

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="tanh"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential_2"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_6 (Dense)             (None, 16)                560

 dense_7 (Dense)             (None, 8)                 136

 dense_8 (Dense)             (None, 1)                 9

=================================================================
Total params: 705
Trainable params: 705
Non-trainable params: 0
_________________________________________________________________

In [ ]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [ ]:
# Train the model
fit_model = nn.fit(X_train_scaled,y_train,epochs=50)

Epoch 1/50
804/804 [==============================] - 3s 3ms/step - loss: 0.6048 - accuracy: 0.6916
Epoch 2/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5926 - accuracy: 0.6997
Epoch 3/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5873 - accuracy: 0.7022
Epoch 4/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5842 - accuracy: 0.7071
Epoch 5/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5822 - accuracy: 0.7096
Epoch 6/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5814 - accuracy: 0.7100
Epoch 7/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5807 - accuracy: 0.7107
Epoch 8/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5802 - accuracy: 0.7101
Epoch 9/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5797 - accuracy: 0.7114
Epoch 10/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5791 - accuracy: 0.7109
Epoch 11/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5791 - accuracy: 0.7106
Epoch 12/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5785 - accuracy: 0.7117
Epoch 13/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5783 - accuracy: 0.7123
Epoch 14/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5779 - accuracy: 0.7111
Epoch 15/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5778 - accuracy: 0.7112
Epoch 16/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5777 - accuracy: 0.7116
Epoch 17/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5773 - accuracy: 0.7117
Epoch 18/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5770 - accuracy: 0.7119
Epoch 19/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5770 - accuracy: 0.7121
Epoch 20/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5768 - accuracy: 0.7117
Epoch 21/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5765 - accuracy: 0.7119
Epoch 22/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5760 - accuracy: 0.7127
Epoch 23/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5761 - accuracy: 0.7118
Epoch 24/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5758 - accuracy: 0.7122
Epoch 25/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5759 - accuracy: 0.7126
Epoch 26/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5754 - accuracy: 0.7128
Epoch 27/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5756 - accuracy: 0.7128
Epoch 28/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5755 - accuracy: 0.7126
Epoch 29/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5751 - accuracy: 0.7131
Epoch 30/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5750 - accuracy: 0.7125
Epoch 31/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5748 - accuracy: 0.7130
Epoch 32/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5745 - accuracy: 0.7133
Epoch 33/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5748 - accuracy: 0.7122
Epoch 34/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5747 - accuracy: 0.7131
Epoch 35/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5743 - accuracy: 0.7137
Epoch 36/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5744 - accuracy: 0.7131
Epoch 37/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5743 - accuracy: 0.7135
Epoch 38/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5743 - accuracy: 0.7134
Epoch 39/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5741 - accuracy: 0.7129
Epoch 40/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5741 - accuracy: 0.7139
Epoch 41/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5742 - accuracy: 0.7138
Epoch 42/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5739 - accuracy: 0.7132
Epoch 43/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5737 - accuracy: 0.7143
Epoch 44/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5736 - accuracy: 0.7135
Epoch 45/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5737 - accuracy: 0.7141
Epoch 46/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5736 - accuracy: 0.7139
Epoch 47/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5735 - accuracy: 0.7139
Epoch 48/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5733 - accuracy: 0.7141
Epoch 49/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5736 - accuracy: 0.7141
Epoch 50/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5731 - accuracy: 0.7144

In [ ]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5796 - accuracy: 0.7109 - 280ms/epoch - 1ms/step
Loss: 0.579632580280304, Accuracy: 0.7109037637710571

Optimization Attempt #3: This optimization was performed after changes were made to the input data. Same hidden layers/activations used as original. The number of nodes were reduced since the number of inputs was reduced.

In [18]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train_scaled[0])
hidden_nodes_layer1 = 12
hidden_nodes_layer2 = 6

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu")
)

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 12)                468

 dense_1 (Dense)             (None, 6)                 78

 dense_2 (Dense)             (None, 1)                 7

=================================================================
Total params: 553
Trainable params: 553
Non-trainable params: 0
_________________________________________________________________

In [19]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [20]:
# Train the model
fit_model = nn.fit(X_train_scaled,y_train,epochs=50)

Epoch 1/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6206 - accuracy: 0.6877
Epoch 2/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5705 - accuracy: 0.7219
Epoch 3/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5622 - accuracy: 0.7252
Epoch 4/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5595 - accuracy: 0.7269
Epoch 5/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5578 - accuracy: 0.7284
Epoch 6/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5565 - accuracy: 0.7283
Epoch 7/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5553 - accuracy: 0.7290
Epoch 8/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5543 - accuracy: 0.7301
Epoch 9/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5539 - accuracy: 0.7299
Epoch 10/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5529 - accuracy: 0.7315
Epoch 11/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5524 - accuracy: 0.7302
Epoch 12/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5521 - accuracy: 0.7301
Epoch 13/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5517 - accuracy: 0.7319
Epoch 14/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5513 - accuracy: 0.7306
Epoch 15/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5510 - accuracy: 0.7317
Epoch 16/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5507 - accuracy: 0.7320
Epoch 17/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5503 - accuracy: 0.7322
Epoch 18/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5502 - accuracy: 0.7325
Epoch 19/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5495 - accuracy: 0.7322
Epoch 20/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5496 - accuracy: 0.7318
Epoch 21/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5496 - accuracy: 0.7333
Epoch 22/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5495 - accuracy: 0.7315
Epoch 23/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5491 - accuracy: 0.7320
Epoch 24/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5491 - accuracy: 0.7325
Epoch 25/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5491 - accuracy: 0.7319
Epoch 26/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5489 - accuracy: 0.7327
Epoch 27/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5487 - accuracy: 0.7318
Epoch 28/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5487 - accuracy: 0.7328
Epoch 29/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5488 - accuracy: 0.7337
Epoch 30/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5484 - accuracy: 0.7328
Epoch 31/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5484 - accuracy: 0.7318
Epoch 32/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5482 - accuracy: 0.7329
Epoch 33/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5485 - accuracy: 0.7320
Epoch 34/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5483 - accuracy: 0.7324
Epoch 35/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5479 - accuracy: 0.7317
Epoch 36/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5480 - accuracy: 0.7329
Epoch 37/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5478 - accuracy: 0.7321
Epoch 38/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5481 - accuracy: 0.7322
Epoch 39/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5477 - accuracy: 0.7321
Epoch 40/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5477 - accuracy: 0.7315
Epoch 41/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5477 - accuracy: 0.7332
Epoch 42/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5476 - accuracy: 0.7328
Epoch 43/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5475 - accuracy: 0.7321
Epoch 44/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5475 - accuracy: 0.7341
Epoch 45/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5475 - accuracy: 0.7327
Epoch 46/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5476 - accuracy: 0.7327
Epoch 47/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5473 - accuracy: 0.7325
Epoch 48/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5477 - accuracy: 0.7326
Epoch 49/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5473 - accuracy: 0.7336
Epoch 50/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5471 - accuracy: 0.7339

In [21]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5600 - accuracy: 0.7275 - 417ms/epoch - 2ms/step
Loss: 0.560006856918335, Accuracy: 0.7274635434150696

In [22]:
# Import checkpoint dependencies
import os
from tensorflow.keras.callbacks import ModelCheckpoint

# Define the checkpoint path and filenames
os.makedirs("checkpoints/",exist_ok=True)
checkpoint_path = "checkpoints/weights.{epoch:02d}.hdf5"

# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

# Create a callback that saves the model's weights every epoch
cp_callback = ModelCheckpoint(
    filepath=checkpoint_path,
    verbose=1,
    save_weights_only=True,
    save_freq=4020)

# Train the model
fit_model = nn.fit(X_train_scaled,y_train,epochs=50,callbacks=[cp_callback])

# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Epoch 1/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5473 - accuracy: 0.7329
Epoch 2/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5473 - accuracy: 0.7338
Epoch 3/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5469 - accuracy: 0.7336
Epoch 4/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5472 - accuracy: 0.7332
Epoch 5/50
782/804 [============================>.] - ETA: 0s - loss: 0.5471 - accuracy: 0.7327
Epoch 00005: saving model to checkpoints/weights.05.hdf5
804/804 [==============================] - 1s 2ms/step - loss: 0.5470 - accuracy: 0.7331
Epoch 6/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5468 - accuracy: 0.7331
Epoch 7/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5467 - accuracy: 0.7334
Epoch 8/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5468 - accuracy: 0.7333
Epoch 9/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5465 - accuracy: 0.7327
Epoch 10/50
787/804 [============================>.] - ETA: 0s - loss: 0.5468 - accuracy: 0.7330
Epoch 00010: saving model to checkpoints/weights.10.hdf5
804/804 [==============================] - 1s 2ms/step - loss: 0.5468 - accuracy: 0.7332
Epoch 11/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5464 - accuracy: 0.7338
Epoch 12/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5463 - accuracy: 0.7329
Epoch 13/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5467 - accuracy: 0.7331
Epoch 14/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5467 - accuracy: 0.7337
Epoch 15/50
801/804 [============================>.] - ETA: 0s - loss: 0.5465 - accuracy: 0.7332
Epoch 00015: saving model to checkpoints/weights.15.hdf5
804/804 [==============================] - 1s 2ms/step - loss: 0.5463 - accuracy: 0.7333
Epoch 16/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5466 - accuracy: 0.7322
Epoch 17/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5460 - accuracy: 0.7332
Epoch 18/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5463 - accuracy: 0.7328
Epoch 19/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5462 - accuracy: 0.7329
Epoch 20/50
786/804 [============================>.] - ETA: 0s - loss: 0.5467 - accuracy: 0.7324
Epoch 00020: saving model to checkpoints/weights.20.hdf5
804/804 [==============================] - 1s 2ms/step - loss: 0.5464 - accuracy: 0.7329
Epoch 21/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5462 - accuracy: 0.7345
Epoch 22/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5460 - accuracy: 0.7334
Epoch 23/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5458 - accuracy: 0.7346
Epoch 24/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5459 - accuracy: 0.7328
Epoch 25/50
798/804 [============================>.] - ETA: 0s - loss: 0.5457 - accuracy: 0.7330
Epoch 00025: saving model to checkpoints/weights.25.hdf5
804/804 [==============================] - 1s 2ms/step - loss: 0.5461 - accuracy: 0.7327
Epoch 26/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5458 - accuracy: 0.7333
Epoch 27/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5458 - accuracy: 0.7334
Epoch 28/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5460 - accuracy: 0.7335
Epoch 29/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5460 - accuracy: 0.7339
Epoch 30/50
779/804 [============================>.] - ETA: 0s - loss: 0.5454 - accuracy: 0.7338
Epoch 00030: saving model to checkpoints/weights.30.hdf5
804/804 [==============================] - 1s 2ms/step - loss: 0.5457 - accuracy: 0.7339
Epoch 31/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5459 - accuracy: 0.7343
Epoch 32/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5458 - accuracy: 0.7338
Epoch 33/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5456 - accuracy: 0.7335
Epoch 34/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5458 - accuracy: 0.7331
Epoch 35/50
779/804 [============================>.] - ETA: 0s - loss: 0.5454 - accuracy: 0.7337
Epoch 00035: saving model to checkpoints/weights.35.hdf5
804/804 [==============================] - 1s 2ms/step - loss: 0.5456 - accuracy: 0.7336
Epoch 36/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5456 - accuracy: 0.7338
Epoch 37/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5455 - accuracy: 0.7331
Epoch 38/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5455 - accuracy: 0.7341
Epoch 39/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5455 - accuracy: 0.7337
Epoch 40/50
797/804 [============================>.] - ETA: 0s - loss: 0.5458 - accuracy: 0.7334
Epoch 00040: saving model to checkpoints/weights.40.hdf5
804/804 [==============================] - 1s 2ms/step - loss: 0.5456 - accuracy: 0.7336
Epoch 41/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5454 - accuracy: 0.7341
Epoch 42/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5453 - accuracy: 0.7336
Epoch 43/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5454 - accuracy: 0.7339
Epoch 44/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5454 - accuracy: 0.7335
Epoch 45/50
785/804 [============================>.] - ETA: 0s - loss: 0.5449 - accuracy: 0.7339
Epoch 00045: saving model to checkpoints/weights.45.hdf5
804/804 [==============================] - 2s 3ms/step - loss: 0.5452 - accuracy: 0.7335
Epoch 46/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5454 - accuracy: 0.7340
Epoch 47/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5451 - accuracy: 0.7344
Epoch 48/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5454 - accuracy: 0.7336
Epoch 49/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5451 - accuracy: 0.7339
Epoch 50/50
784/804 [============================>.] - ETA: 0s - loss: 0.5444 - accuracy: 0.7355
Epoch 00050: saving model to checkpoints/weights.50.hdf5
804/804 [==============================] - 1s 2ms/step - loss: 0.5451 - accuracy: 0.7350
268/268 - 0s - loss: 0.5626 - accuracy: 0.7278 - 381ms/epoch - 1ms/step
Loss: 0.5626389980316162, Accuracy: 0.7278134226799011

In [23]:
# Export our model to HDF5 file
nn.save("AlphabetSoupCharityOptimized.h5")
# Once this is executed, you must download this file to local computer using the files folder in the left hand pane.